html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #DDDDDD;
  z-index: 0;
}

#layout {
    position: relative;
    padding-left: 0;
    height: 100%;
}

#left-menu {
    background-color: #222222;
    width: 15%;
    height: 99.7%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
}

#left-menu .pure-menu,
#left-menu .pure-menu ul {
    border: none;
    background: transparent;
}

#left-menu a {
    margin: 5px;
    color: #DDDDDD;
    padding: 0.6em 0 0.6em 0.6em;
}

#left-menu li a:hover,
#left-menu li a:active {
    margin: 15px;
    color:  black;
    padding: 0.6em 0 0.6em 0.6em;
    border-radius: 10px;
}

#addTagInput {
    display: block;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 5px;

    border-radius: 20px;

    width: 80%;
    height: 1.2em;
}

#left-menu-buttons {
    position: absolute;
    bottom: 5%;
}

#left-menu-buttons .pure-g div {
    margin-bottom: 4%;
}

#left-menu-buttons .pure-button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#left-menu #button-save {
    width: 94%;
}

#left-menu #button-toggle {
    width: 94%;
}

#left-menu #button-error, #left-menu #button-error:hover {
    background-color: red;
    color: white;
    width: 90%;
}

#left-menu #button-share, #left-menu #button-share:hover {
    background-color: #FFAA00;
    color: white;
    width: 90%;
}

#nav-bar {
    background-color: #DDDDDD;
}

#nav-bar .dropdown-menu-disabled {
    display: none;
    z-index: -42;
}

#nav-bar .dropdown-menu-enabled {
    display: block;
    z-index: 42;
}

#content {
    float: right;
    width: 85%;
    height: 100%;
}

#epiceditor {
    position: fixed;
    height: 95%;
    width: 84%;
    margin-left: 5px;
}